
@font-face {
  font-family: 'InconsolataVariable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  font-stretch: 50% 200%;
  src: url('../fonts/inconsolata-latin-variable-full-normal.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}  

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('../fonts/GeneralSans-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


.blog-permalink svg{
  display: inline;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  fill: #F687B3;
}

code.language-text:not(pre){
  font-family: InconsolataVariable, monospace;
  color: #F687B3 !important;
  background: none !important;
}
