@font-face {
  font-family: 'GeneralSans-Variable';
  src: local('GeneralSans-Variable'),
    url('../fonts/GeneralSans-Variable.woff2') format('woff2');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


.blog-permalink svg {
  display: inline;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  fill: #F687B3;
}

code.language-text:not(pre) {
  font-family: Inconsolata, monospace;
  color: #F687B3 !important;
  background: none !important;
}