.blog-permalink svg{
  display: inline;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  fill: #F687B3;
}

code.language-text:not(pre){
  font-family: Space Mono, monospace;
  color: #F687B3 !important;
}